body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: "Roboto-Regular", Areal, sans-serif;
  background-color: #ffffff;
}

.gray-bg {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

.main-navigation a{
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-family: "Roboto-Regular", Areal, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation,
.slides-switches,
.user-navigation,
.service-card,
.catalog-preview,
.filter-options,
.social-button,
.advantage,
.list-order {
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: center;
}

.site-navigation li {
  margin-right: 47px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 141px;
}

.catalog p {
  font-size: 18px;
  line-height: 18px;
  font-weight:700;
  color: #000000;
  text-transform: uppercase;
}

.catalog a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;

}

.catalog a:hover {
  opacity: 0.6;
}

.catalog a:active {
  opacity: 1;
}

.button {
  width: 160px;
  height: 50px;
  padding: 10px;
  border: 0;
  box-shadow: none;
  border-radius: 2px;
  background:#fa5c60;
  color:#ffffff;
  font-family: "Roboto-Medium", Areal, sans-serif;
  font-size:16px;
  line-height:18px;
  font-weight:500;
  text-align:center;
  text-transform: uppercase;
  text-decoration:none;

}

.slide-btn {
width: 300px;
height: 50px;
}

.service-heading {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.button-site  {
  background-color: #fb565a;
  border-radius: 5px;
}

.button-site:hover {
  background-color: #e74246;
}

.button-site:active {
  background-color: #d7373b;
  color: #e37376;
}
.button-app {
  background-color: #00ca74;
}

.button-app:hover {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
  color: #4dc491;
}

.button-present {
  background-color: #efc84a;
}

.button-present:hover {
  background-color: #eab534;
}

.button-present:active {
  background-color: #e5a722;
  color: #edc265;
}

.slide-btn,
.contacts a:hover {
  background-color: #e74246;
}
.contacts a:active {
  background-color: #d7373b;
  color: #e16669;
}

.about-us-header {
  font-size: 45px;
  line-height: 45px;
  font-weight:700;
}

.about-us h2 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto-Regular", Areal, sans-serif;
  text-transform:uppercase;
}

.parnters-list:hover {
  opacity: 0.1;
}

.massage-form,
.name-icon-user,
.mail-icon-user {
  border-color: #d7dcde;
}

.cotalog-heading{
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-family: "Roboto-Medium", Areal, sans-serif;
}

.service-heading {
  font-size: 24px;
  line-height: 30px;
  color: #283136;
  font-weight: bold;
}

.catalog p {
  font-size: 18px;
  line-height: 18px;
  font-weight:700;
  color: #000000;
  text-transform: uppercase;
}


.catalog a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;

}

.catalog a:hover {
  opacity: 0.6;
}

.catalog a:active {
  opacity: 1;
}

.filter-parameter {
  font-size: 18px;
  line-height: 30;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.service-list {
  display: flex;
  justify-content: center;
}

.service-card {
  margin-right: 100px;
}

.about-us {
  display: flex;
}

.about-us h2,
.about-us-header {
  color: #000000;
}

.patrners-list {
  display: flex;
  justify-content: center;
}

.patrners-list a:first-child {
  margin-right: 96px;
}

.patrners-list a:nth-child(2) {
  margin-right: 105px;
}

.patrners-list a:nth-child(3) {
  margin-right: 123px;
}
