body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
  font-family: "Roboto-Regular", Areal, sans-serif;
  background-color: #ffffff;
}


}

.gray-bg {
  background-color: #eeeeee;
  height: 355px;
}

a {
  text-decoration: none;
}

.main-header-logo {
  display: flex;
  justify-content: flex-start;
}

.main-navigation a {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-family: "Roboto-Regular", Areal, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation,
.slides-switches,
.user-navigation,
.service-card,
.catalog-preview,
.filter-options,
.social-button,
.advantage,
.list-order,
.sorting-list,
.pagination-list {
  list-style: none;
}

.main-header {
  display: flex;
  justify-content: space-arousnd;
  padding-top: 49px;
}

.main-navigation {
  display: flex;
}

.site-navigation {
  display: flex;
  justify-content: center;
}

.site-navigation li {
  margin-right: 47px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  margin-right: 141px;
}

.sorting p {
  font-size: 18px;
  line-height: 18px;
  font-weight:700;
  color: #000000;
  text-transform: uppercase;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;

}

.sorting a:hover {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 1;
}

.button {
  width: 160px;
  height: 50px;
  padding: 10px;
  border: 0;
  box-shadow: none;
  border-radius: 2px;
  background:#fa5c60;
  color:#ffffff;
  font-family: "Roboto-Medium", Areal, sans-serif;
  font-size:16px;
  line-height:18px;
  font-weight:500;
  text-align:center;
  text-transform: uppercase;
  text-decoration:none;

}

.head-slider .button {
  width: 300px;
  height: 50px;
}

.service-heading {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.button-site  {
  background-color: #fb565a;
  border-radius: 5px;
}

.button-site:hover {
  background-color: #e74246;
}

.button-site:active {
  background-color: #d7373b;
  color: #e37376;
}
.button-app {
  background-color: #00ca74;
}

.button-app:hover {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
  color: #4dc491;
}

.button-present {
  background-color: #efc84a;
}

.button-present:hover {
  background-color: #eab534;
}

.button-present:active {
  background-color: #e5a722;
  color: #edc265;
}

.slide-btn,
.contacts a:hover {
  background-color: #e74246;
}
.contacts a:active {
  background-color: #d7373b;
  color: #e16669;
}

.about-us-header {
  font-size: 45px;
  line-height: 45px;
  font-weight:700;
}

.about-us h2 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto-Regular", Areal, sans-serif;
  text-transform:uppercase;
}

.advantage {
  display: flex;
  width: 345px;
  justify-content: space-between;
}

.advantage-item span {
  display: block;
  font-size: 45px;
  line-height: 10.6;
}

.parnters-list:hover {
  opacity: 0.1;
}

.massage-form,
.name-icon-user,
.mail-icon-user {
  border-color: #d7dcde;
}

.cotalog-heading{
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-family: "Roboto-Medium", Areal, sans-serif;
}

.service-heading {
  font-size: 24px;
  line-height: 30px;
  color: #283136;
  font-weight: bold;
}

.catalog {
  width: 760px;
}

.sorting p {
  font-size: 18px;
  line-height: 18px;
  font-weight:700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list li {
  margin-left: 28px;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;

}

.sorting-list a:hover {
  opacity: 0.6;
}

.sorting-list a:active {
  opacity: 1;
}

.filter-parameter {
  font-size: 18px;
  line-height: 30;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.service-list {
  display: flex;
  justify-content: center;
}

.service-card {
  margin-right: 100px;
}

.about-us {
  display: flex;
}

.about-us-left {
  background: pink;
  width: 660px;
  margin-right: 140px;
}

.about-us-right {
  width: 360px;
  background: yellow;
}

.about-us-right p {
  text-transform: uppercase;
  font-weight: 700;
}

.about-us h2,
.about-us-header {
  color: #000000;
}

.patrners-list {
  display: flex;
  justify-content: center;
}

.patrners-list a:first-child {
  margin-right: 96px;
}

.patrners-list a:nth-child(2) {
  margin-right: 105px;
}

.patrners-list a:nth-child(3) {
  margin-right: 123px;
}

.list-layouts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list-layouts li {
  margin-right: 40p;
  width: 360px;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.catalog-heading {
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.container-catalog {
  background-color: pink;
  display: flex;
  justify-content: center;
}

.filters {
  margin-right: 140px;
  width: 260px;
  background: #f5eb31;
}

.sorting {
  background: lightgreen;
  display: flex;
  justify-content: flex-end;
}

.sorting-list {
  background: lightblue;
  padding: 0;
  margin: 0;
  display: flex;
}

.list-layouts {
  background: lightgray;
  display: flex;
  justify-content: space-between;

}

.footer-social {
  background: #8105f5;
  display: flex;
}

.social-button {
  display: flex;
}

.footer-social div p:first-child {
  font-size: 36px;
  line-height: 36px;
}


.contacts {
  background-image: url("../img/map.jpg");
  height: 416px;
}



/* Price felter */

.range-filter {
  width: 260px;
  margin: 50px auto;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color:#283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
